/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


html {
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0;
    min-height: 100vh;
    background-color: #352150;
}

#grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    grid-auto-flow: row dense;
}
.tile {
    padding: 5px;
    border: 5px ridge #efc61e;
    box-shadow: -2px -2px 7.5px 0px rgba(68, 68, 68, 0.4);
}
.tile a.photo-image {
    flex: 1;
}

.tile a.photo-image img {
     width: 100%;
    margin: 0 auto;
    object-fit: cover;
}
#card-page {
    display: flex;
}
#card-page .main-content {
        flex: 1;
}

#photo-detail{
    display:flex;
}
#photo-image {
    align-self: flex-start;
    width: 700px;
    object-fit: cover;
    margin-right: 20px;
    border: 10px #efc61e;
    border-style: ridge;
}
#advert-image {
    align-self: baseline;
    width: 150px;
    object-fit: cover;
    margin-top: 10px;
    margin-left:15px;
    border: 5px;
    border-style: ridge;
    border-color: #efc61e;
    border-radius: 10px;    
}
footer>a>img{
    width: 35%;
    padding-top:10px;
    border: 5px;
    border-color:black;
}
.goldenrod {
    color: #efc61e
}

